<mat-toolbar column color="primary" class="toolbar">
  <span class="header-title">Welcome to Sav Reddit Application</span>
  <mat-search-bar [formControl]="search" (onEnter)="searchSubReddit($event)"></mat-search-bar>
</mat-toolbar>
<router-outlet (activate)="onActivate($event)"></router-outlet>
