<mat-paginator [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [length]="length"
               (page)="pageEvent = updateListData($event)">
</mat-paginator>
<div *ngIf="!error">
	<app-sub-reddit-post [post]="redditPost"
											 [routerLink]="['sub-reddit-post-details', redditPost.permalink]"
	 										 *ngFor="let redditPost of subRedditPosts">
	 </app-sub-reddit-post>
</div>
<div *ngIf="error">
	<p class="error">
		A Sub Reddit with the term <span>{{searchTerm}}</span> could not be found. Please try with a different search.
	</p>
</div>