.card{
  margin-top: 4px;
  padding-bottom: 10px;

  .card-image{
    height: 150px;
    width: 10em;
    display: inline-block;
    float: left;
    padding-top: 2px;
  }

  .title{
    font-weight: bold;
    float: left;
    margin-left: 20px;
    font-size: 18px;
  }

  .author {
    text-align: right;
    ul {
      list-style: none;
    }
  }

  .link {
    margin-left: 15px;
  }

  .action-buttons{
    text-align: right;
  }
}
