<mat-card class="card">
  <mat-card-content>
  	<img mat-card-image class="card-image" src={{post.thumbnail}} alt="thumbnail">
  	<mat-card-title class="title">{{post.title}}</mat-card-title>
    <mat-card-subtitle class="author">
    	<ul>
    		<li>created: {{post.created*1000 | date:'dd-MM-yy'}}</li>
    		<li>posted by: {{post.author}}</li>
    	</ul>
    </mat-card-subtitle>
    <a mat-button class="link" color="primary" [routerLink]="['sub-reddit-post-details', post.permalink]">Details: {{post.permalink}}</a>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> {{post.score}} Likes</button>
    <button mat-button color="primary"><mat-icon>comment</mat-icon>{{post.numberOfComments}} Comments</button>
  </mat-card-actions>
</mat-card>