.card{
  padding-bottom: 10px;
  height: 150px;

  .card-image{
    height: 150px;
    width: 10em;
    display: inline-block;
    float: left;
    padding-top: 2px;
  }

  .title{
    font-weight: bold;
    float: left;
    margin-left: 20px;
    font-size: 18px;
  }

  .author {
    text-align: right;
    ul {
      list-style: none;
    }
  }
  .self-text {
    margin-left: 13%;
    width: 80%;
  }
}

.comments-list {
  background-color: #666;

  .comment {
    padding: 10px;

    h6{
      margin: 6px;
    }

    mat-list-item {
      height: auto;
    }
  }
}