<mat-card class="card" *ngIf=isLoaded>
  <mat-card-content>
  	<img mat-card-image class="card-image" src={{postDetails.thumbnail}} alt="thumbnail">
    <mat-card-title class="title">{{postDetails.title}}</mat-card-title>
    <mat-card-subtitle class="author">
	  <ul>
	    <li>created: {{postDetails.created*1000 | date:'dd-MM-yy'}}</li>
	    <li>posted by: {{postDetails.author}}</li>
	  </ul>
    </mat-card-subtitle>
    <p class="self-text">{{postDetails.selftext}}</p>
  </mat-card-content>
</mat-card>
<mat-list class="comments-list">
	<div class="comment" *ngFor="let comment of postComments">
		<h6>{{comment.data.author}} at {{comment.data.created*1000 | date:'dd-MM-yy:HH:mm:ss'}}</h6>
		<mat-list-item>
			{{comment.data.body}}
		</mat-list-item>
	</div>
</mat-list>


